@font-face {
    font-family: 'IRANSans';
    src: url(../fonts/IRANSans/IRANSans.ttf);
}

@font-face {
    font-family: 'IRANSans_Black';
    src: url(../fonts/IRANSans/IRANSans_Black.ttf);
}

@font-face {
    font-family: 'IRANSans_Bold';
    src: url(../fonts/IRANSans/IRANSans_Bold.ttf);
}

@font-face {
    font-family: 'IRANSans_Light';
    src: url(../fonts/IRANSans/IRANSans_Light.ttf);
}

@font-face {
    font-family: 'IRANSans_Medium';
    src: url(../fonts/IRANSans/IRANSans_Medium.ttf);
}

@font-face {
    font-family: 'IRANSans_UltraLight';
    src: url(../fonts/IRANSans/IRANSans_UltraLight.ttf);
}