.main {
    margin: 4rem 0;
}

.courses {
    margin: 4rem 0;
}

.container {}

.courses--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.5rem;
}

.courses--header__right {}

.courses--header__title {
    display: flex;
}

.courses--header__title:first-child {
    font-size: 1.8rem;
    font-family: var(--IRANSans_Medium);
}

.courses--header__title:last-child {
    font-size: 2.5rem;
    font-family: var(--IRANSans_Black);
}

.courses--header__left {}

.courses--header__link:hover {
    color: var(--primary-color);
}

.courses--content {}

.container {}

.row {
    display: flex;
    justify-content: space-around;
}

.col-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 265px;
    margin-top: 2rem;
    border: none;
    box-shadow: 0 0 0px #ffffff;
    background-color: #fff;
    border-radius: 9px;
}

.course--box {}

.course--box__image img {
    width: 265px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.course--box__main {}

.course--name {
    padding: 10px;
}

.course--teacher {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.teacher {}

.teacher svg {
    width: 20px;
}

.teacher span {}

.course--score {}

.course--score span svg {
    width: 15px;
}

.course--price {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.student {
    display: flex;
    justify-content: center;
    align-items: center;
}

.student span svg {
    width: 25px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount {
    background-color: var(--primary-color);
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    font-family: var(--IRANSans_Black);
}

.discount--box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

del {
    font-size: 14px;
    /* transform: rotate(10deg); */
}

.discount--box span {
    font-size: 2rem;
    font-family: var(--IRANSans_Black);
    color: var(--primary-color);
}