/* Start Footer Styles */

.footer-widgets {
  border-radius: 1rem;
  padding: 4rem 3.5rem;
  position: relative;
  margin-bottom: 5rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  height: 100%;
  z-index: 1;
  color: #f0f2f7;
}

.footer-widgets::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 4rem;
  width: 50rem;
  background: linear-gradient(135deg, #09b1ff, #7f5af0);
  z-index: -1;
  bottom: -1.5rem;
  border-radius: 5rem;
}

.footer-widgets__title {
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
  position: relative;
  color: var(--primary-color);
}

.footer-widgets__title::before {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--primary-color);
  border-radius: 0.7rem;
  right: 1rem;
  opacity: 0.3;
  transform: rotate(45deg);
}

.footer-widgets__text {
  color: #f0f2f7;
}

.footer-widgets__links {
  display: flex;
  flex-direction: column;
}

.footer-widgets__link {
  display: block;
  margin-bottom: 1rem;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f7;
  padding: 3rem 0;
}

.footer__copyright-text {
  color: var(--dark-color);
  font-weight: bold;
}

/* Finish Footer Styles */